{% extends 'base.html' %}

{% block contenu %}
<h1>Inscription</h1>

<form method="post">
    {% csrf_token %}
    
    <div class="mb-3">
        <label for="">Nom d'utilisateur</label>
        {{ form.username }}
    </div>
    
    <div class="mb-3">
        <label for="">Email</label>
        {{ form.email }}
    </div>
    
    <div class="mb-3">
        <label for="">Mot de passe</label>
        {{ form.password1 }}
    </div>
    
    <div class="mb-3">
        <label for="">Confirmer mot de passe</label>
        {{ form.password2 }}
    </div>
    
    <button type="submit">Créer le compte</button>
</form>

<p>Déjà inscrit ? <a href="{% url 'login' %}">Se connecter</a></p>

{% endblock %}
