{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body class="bg-light">

    <header class="shadow-sm bg-white sticky-top">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container py-2">
                <a class="navbar-brand" href="{% url 'liste_article' %}">
                    <img src="{% static 'img/ioclogo.png' %}" alt="Logo du site" class="site-logo">
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Ouvrir le menu">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="mainNavbar">
                    <div class="ms-auto d-flex flex-column flex-lg-row gap-2 align-items-lg-center">

                        {% if user.is_authenticated %}
                            <span class="navbar-text text-dark small">
                                Bonjour <strong>{{ user.username }}</strong>
                            </span>
                            <a class="btn btn-outline-primary btn-sm" href="{% url 'liste_article' %}">Accueil</a>
                            <a class="btn btn-danger btn-sm" href="{% url 'logout' %}">Déconnexion</a>
                        {% else %}
                        <a class="btn btn-outline-primary btn-sm" href="{% url 'liste_article' %}">Accueil</a>
                            <a class="btn btn-outline-primary btn-sm" href="{% url 'login' %}">Se connecter</a>
                            <a class="btn btn-primary btn-sm" href="{% url 'signup' %}">S'inscrire</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main class="py-5">
        {% block contenu %}{% endblock %}
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>
